[rv-cloak], [rv-cloak-children] > * {
    transition: all 0.3s;
}

[rv-cloak]:not([rv-cloak="uncloak"]), [rv-cloak-children]:not([rv-cloak-children="uncloak"]) > * {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}